Repository tedilabs/terraform-aws-container, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: ecr-registry, :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-aws-auth, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-max-pods, :floppy_disk: eks-node-group, :floppy_disk: eks-official-image

.github/labeler.yaml:

# Modules
":floppy_disk: ecr-registry":
- changed-files:
  - any-glob-to-any-file:
    - modules/ecr-registry/**/*

":floppy_disk: ecr-repository":
- changed-files:
  - any-glob-to-any-file:
    - modules/ecr-repository/**/*

":floppy_disk: eks-access-entry":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-access-entry/**/*

":floppy_disk: eks-addon":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-addon/**/*

":floppy_disk: eks-aws-auth":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-aws-auth/**/*

":floppy_disk: eks-cluster":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-cluster/**/*

":floppy_disk: eks-fargate-profile":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-fargate-profile/**/*

":floppy_disk: eks-iam-access":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-iam-access/**/*

":floppy_disk: eks-max-pods":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-max-pods/**/*

":floppy_disk: eks-node-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-node-group/**/*

":floppy_disk: eks-official-image":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-official-image/**/*

chore: remove deprecated welcome.yaml workflow
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow (#72)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update eks-max-pods data
  modules/eks-max-pods/data.json
Labels: :floppy_disk: eks-max-pods

chore: bump to v0.27.1
  VERSION
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#78)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

feat(ecr-registry): support blob mounting and pull time update exclusion
  modules/ecr-registry/README.md
  modules/ecr-registry/blob-mounting.tf
  modules/ecr-registry/outputs.tf
  modules/ecr-registry/pull-time-update.tf
  modules/ecr-registry/variables.tf
Labels: :floppy_disk: ecr-registry

chore: bump to v0.27.2
  VERSION
Labels: none

feat(ecr-registry): support blob mounting and pull time update exclusion
  modules/ecr-registry/README.md
  modules/ecr-registry/blob-mounting.tf
  modules/ecr-registry/outputs.tf
  modules/ecr-registry/pull-time-update.tf
  modules/ecr-registry/variables.tf
Labels: :floppy_disk: ecr-registry

chore: bump to v0.27.2
  VERSION
Labels: none

chore: bump to v0.27.3
  VERSION
Labels: none

fix: update minimum aws provider version
  modules/ecr-registry/README.md
  modules/ecr-registry/versions.tf
Labels: :floppy_disk: ecr-registry

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

feat(eks-cluster): add permissions_boundary support for IAM roles
  modules/eks-cluster/iam.tf
Labels: :floppy_disk: eks-cluster

feat(eks-cluster): add permissions_boundary variable for default roles
  modules/eks-cluster/variables.tf
Labels: :floppy_disk: eks-cluster

feat(eks-fargate-profile): add permissions_boundary support for IAM role
  modules/eks-fargate-profile/iam.tf
Labels: :floppy_disk: eks-fargate-profile

feat(eks-fargate-profile): add permissions_boundary variable for default role
  modules/eks-fargate-profile/variables.tf
Labels: :floppy_disk: eks-fargate-profile

feat(ecr-registry): add permissions_boundary support for IAM role
  modules/ecr-registry/iam.tf
Labels: :floppy_disk: ecr-registry

feat(ecr-registry): add permissions_boundary variable for default role
  modules/ecr-registry/variables.tf
Labels: :floppy_disk: ecr-registry

feat: add permissions_boundary support for IAM roles (#80)
  modules/ecr-registry/iam.tf
  modules/ecr-registry/variables.tf
  modules/eks-cluster/iam.tf
  modules/eks-cluster/variables.tf
  modules/eks-fargate-profile/iam.tf
  modules/eks-fargate-profile/variables.tf
Labels: :floppy_disk: ecr-registry, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile

chore: fix module labels in .github/labels.yaml (#79)
  .github/labels.yaml
Labels: none

chore: bump to v0.27.4
  VERSION
Labels: none

fix: allow to create empty lifecycle rules
  modules/ecr-repository/README.md
  modules/ecr-repository/main.tf
Labels: :floppy_disk: ecr-repository

chore(deps): align tedilabs child module version constraints with latest releases
  examples/ecr-registry-enhanced-scanning/main.tf
  examples/ecr-registry-full/main.tf
  examples/ecr-registry-pull-through-cache/main.tf
  examples/ecr-registry-replication/main.tf
  examples/ecr-registry-simple/main.tf
  examples/ecr-repository-encryption-kms/main.tf
  examples/ecr-repository-full/main.tf
  examples/ecr-repository-lifecycle-rules/main.tf
  examples/ecr-repository-simple/main.tf
  modules/eks-cluster/security-groups.tf
  modules/eks-node-group/security-group.tf
Labels: :floppy_disk: eks-cluster, :floppy_disk: eks-node-group

chore(deps): align tedilabs child module version constraints with latest releases (#81)
  examples/ecr-registry-enhanced-scanning/main.tf
  examples/ecr-registry-full/main.tf
  examples/ecr-registry-pull-through-cache/main.tf
  examples/ecr-registry-replication/main.tf
  examples/ecr-registry-simple/main.tf
  examples/ecr-repository-encryption-kms/main.tf
  examples/ecr-repository-full/main.tf
  examples/ecr-repository-lifecycle-rules/main.tf
  examples/ecr-repository-simple/main.tf
  modules/eks-cluster/security-groups.tf
  modules/eks-node-group/security-group.tf
Labels: :floppy_disk: eks-cluster, :floppy_disk: eks-node-group

fix(examples): correct terraform and provider version constraints
  examples/ecr-registry-enhanced-scanning/versions.tf
  examples/ecr-registry-full/versions.tf
  examples/ecr-registry-pull-through-cache/versions.tf
  examples/ecr-registry-replication/versions.tf
  examples/ecr-registry-simple/versions.tf
  examples/ecr-repository-encryption-kms/versions.tf
  examples/ecr-repository-full/versions.tf
  examples/ecr-repository-lifecycle-rules/versions.tf
  examples/ecr-repository-simple/versions.tf
Labels: none

fix(examples): correct terraform and provider version constraints (#82)
  examples/ecr-registry-enhanced-scanning/versions.tf
  examples/ecr-registry-full/versions.tf
  examples/ecr-registry-pull-through-cache/versions.tf
  examples/ecr-registry-replication/versions.tf
  examples/ecr-registry-simple/versions.tf
  examples/ecr-repository-encryption-kms/versions.tf
  examples/ecr-repository-full/versions.tf
  examples/ecr-repository-lifecycle-rules/versions.tf
  examples/ecr-repository-simple/versions.tf
Labels: none

fix(ecr-repository): make image_tag_mutability optional as documented
  modules/ecr-repository/variables.tf
Labels: :floppy_disk: ecr-repository

fix(examples): correct stale module arguments in ECR examples
  examples/ecr-registry-enhanced-scanning/main.tf
  examples/ecr-registry-full/main.tf
  examples/ecr-registry-replication/main.tf
  examples/ecr-repository-encryption-kms/main.tf
  examples/ecr-repository-full/main.tf
  examples/ecr-repository-lifecycle-rules/main.tf
Labels: none

docs(ecr-repository): regenerate terraform-docs for image_tag_mutability
  modules/ecr-repository/README.md
Labels: :floppy_disk: ecr-repository

fix(examples): correct stale module arguments in ECR examples (#83)
  examples/ecr-registry-enhanced-scanning/main.tf
  examples/ecr-registry-full/main.tf
  examples/ecr-registry-replication/main.tf
  examples/ecr-repository-encryption-kms/main.tf
  examples/ecr-repository-full/main.tf
  examples/ecr-repository-lifecycle-rules/main.tf
  modules/ecr-repository/README.md
  modules/ecr-repository/variables.tf
Labels: :floppy_disk: ecr-repository

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none
