Repository tedilabs/terraform-aws-container, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: ecr-registry, :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-aws-auth, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-max-pods, :floppy_disk: eks-node-group, :floppy_disk: eks-official-image

Fix dependency issue on aws_eks_cluster data source
  VERSION
  modules/eks-addon/main.tf
  modules/eks-addon/outputs.tf
Labels: :floppy_disk: eks-addon

Update dependabot
  .github/dependabot.yml
Labels: none

Update instance types data for eks-max-pod
  modules/eks-max-pods/data.json
Labels: :floppy_disk: eks-max-pods

Bump to v0.26.5
  VERSION
Labels: none

Update ecr-registry module to support basic scanning version and registry version v2
  .tflint.hcl
  modules/ecr-registry/README.md
  modules/ecr-registry/main.tf
  modules/ecr-registry/outputs.tf
  modules/ecr-registry/scanning.tf
  modules/ecr-registry/variables.tf
  modules/ecr-registry/versions.tf
Labels: :floppy_disk: ecr-registry

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
Labels: none

chore: update pre-commit configuration
  .pre-commit-config.yaml
  .tflint.hcl
  modules/ecr-registry/README.md
  modules/ecr-repository/README.md
  modules/eks-access-entry/README.md
  modules/eks-addon/README.md
  modules/eks-aws-auth/README.md
  modules/eks-cluster/README.md
  modules/eks-fargate-profile/README.md
  modules/eks-iam-access/README.md
  modules/eks-node-group/README.md
  modules/eks-official-image/README.md
Labels: :floppy_disk: ecr-registry, :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-aws-auth, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-node-group, :floppy_disk: eks-official-image

feat(eks-official-image): support ubuntu 24.04 eks images
  modules/eks-official-image/README.md
  modules/eks-official-image/main.tf
  modules/eks-official-image/variables.tf
Labels: :floppy_disk: eks-official-image

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#64)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/ecr-repository/outputs.tf
  modules/ecr-repository/resource-group.tf
  modules/ecr-repository/variables.tf
  modules/eks-access-entry/outputs.tf
  modules/eks-access-entry/resource-group.tf
  modules/eks-access-entry/variables.tf
  modules/eks-addon/outputs.tf
  modules/eks-addon/resource-group.tf
  modules/eks-addon/variables.tf
  modules/eks-cluster/outputs.tf
  modules/eks-cluster/resource-group.tf
  modules/eks-cluster/variables.tf
  modules/eks-fargate-profile/outputs.tf
  modules/eks-fargate-profile/resource-group.tf
  modules/eks-fargate-profile/variables.tf
  modules/eks-iam-access/README.md
  modules/eks-iam-access/main.tf
  modules/eks-iam-access/outputs.tf
  modules/eks-iam-access/resource-group.tf
  modules/eks-iam-access/variables.tf
  modules/eks-node-group/outputs.tf
  modules/eks-node-group/resource-group.tf
  modules/eks-node-group/variables.tf
Labels: :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-node-group

feat: improve how to use resource_group in modules (#65)
  modules/ecr-repository/outputs.tf
  modules/ecr-repository/resource-group.tf
  modules/ecr-repository/variables.tf
  modules/eks-access-entry/outputs.tf
  modules/eks-access-entry/resource-group.tf
  modules/eks-access-entry/variables.tf
  modules/eks-addon/outputs.tf
  modules/eks-addon/resource-group.tf
  modules/eks-addon/variables.tf
  modules/eks-cluster/outputs.tf
  modules/eks-cluster/resource-group.tf
  modules/eks-cluster/variables.tf
  modules/eks-fargate-profile/outputs.tf
  modules/eks-fargate-profile/resource-group.tf
  modules/eks-fargate-profile/variables.tf
  modules/eks-iam-access/README.md
  modules/eks-iam-access/main.tf
  modules/eks-iam-access/outputs.tf
  modules/eks-iam-access/resource-group.tf
  modules/eks-iam-access/variables.tf
  modules/eks-node-group/outputs.tf
  modules/eks-node-group/resource-group.tf
  modules/eks-node-group/variables.tf
Labels: :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-node-group

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(ecr-registry): support aws v6
  modules/ecr-registry/README.md
  modules/ecr-registry/main.tf
  modules/ecr-registry/outputs.tf
  modules/ecr-registry/pull-through-cache.tf
  modules/ecr-registry/replication.tf
  modules/ecr-registry/scanning.tf
  modules/ecr-registry/variables.tf
  modules/ecr-registry/versions.tf
Labels: :floppy_disk: ecr-registry

feat(ecr-repository): support aws v6
  modules/ecr-repository/README.md
  modules/ecr-repository/main.tf
  modules/ecr-repository/outputs.tf
  modules/ecr-repository/resource-group.tf
  modules/ecr-repository/variables.tf
  modules/ecr-repository/versions.tf
Labels: :floppy_disk: ecr-repository

feat(ecr-repository): use lifecycle policy document data source
  modules/ecr-repository/README.md
  modules/ecr-repository/main.tf
Labels: :floppy_disk: ecr-repository

feat(ecr-registry): allow cross account pull through cache
  modules/ecr-registry/README.md
  modules/ecr-registry/pull-through-cache.tf
  modules/ecr-registry/variables.tf
Labels: :floppy_disk: ecr-registry

feat(ecr-registry): support default pull through cacher role
  modules/ecr-registry/README.md
  modules/ecr-registry/iam.tf
  modules/ecr-registry/outputs.tf
  modules/ecr-registry/pull-through-cache.tf
  modules/ecr-registry/resource-group.tf
  modules/ecr-registry/variables.tf
Labels: :floppy_disk: ecr-registry

feat(eks-access-entry): support aws v6
  modules/eks-access-entry/README.md
  modules/eks-access-entry/main.tf
  modules/eks-access-entry/outputs.tf
  modules/eks-access-entry/resource-group.tf
  modules/eks-access-entry/variables.tf
  modules/eks-access-entry/versions.tf
Labels: :floppy_disk: eks-access-entry

feat(eks-iam-access): support aws v6
  modules/eks-iam-access/README.md
  modules/eks-iam-access/main.tf
  modules/eks-iam-access/outputs.tf
  modules/eks-iam-access/resource-group.tf
  modules/eks-iam-access/variables.tf
  modules/eks-iam-access/versions.tf
Labels: :floppy_disk: eks-iam-access

feat(eks-aws-auth): update
  modules/eks-aws-auth/README.md
  modules/eks-aws-auth/main.tf
  modules/eks-aws-auth/variables.tf
  modules/eks-aws-auth/versions.tf
Labels: :floppy_disk: eks-aws-auth

feat(eks-addon): support aws v6
  modules/eks-addon/README.md
  modules/eks-addon/main.tf
  modules/eks-addon/outputs.tf
  modules/eks-addon/resource-group.tf
  modules/eks-addon/variables.tf
  modules/eks-addon/versions.tf
Labels: :floppy_disk: eks-addon

feat(eks-max-pods): update dataset
  modules/eks-max-pods/data.json
  modules/eks-max-pods/variables.tf
  modules/eks-max-pods/versions.tf
Labels: :floppy_disk: eks-max-pods

fix(eks-iam-access): remove debug information
  modules/eks-iam-access/outputs.tf
Labels: :floppy_disk: eks-iam-access

feat(eks-fargate-profile): support aws v6
  modules/eks-fargate-profile/README.md
  modules/eks-fargate-profile/iam.tf
  modules/eks-fargate-profile/main.tf
  modules/eks-fargate-profile/outputs.tf
  modules/eks-fargate-profile/resource-group.tf
  modules/eks-fargate-profile/variables.tf
  modules/eks-fargate-profile/versions.tf
Labels: :floppy_disk: eks-fargate-profile

feat(eks-node-group): support aws v6
  modules/eks-node-group/README.md
  modules/eks-node-group/main.tf
  modules/eks-node-group/outputs.tf
  modules/eks-node-group/resource-group.tf
  modules/eks-node-group/security-group.tf
  modules/eks-node-group/variables.tf
  modules/eks-node-group/versions.tf
Labels: :floppy_disk: eks-node-group

feat(eks-cluster): support aws v6
  modules/eks-cluster/README.md
  modules/eks-cluster/cloudwatch.tf
  modules/eks-cluster/iam.tf
  modules/eks-cluster/irsa-oidc-provider.tf
  modules/eks-cluster/main.tf
  modules/eks-cluster/migrations.tf
  modules/eks-cluster/oidc-providers.tf
  modules/eks-cluster/outputs.tf
  modules/eks-cluster/resource-group.tf
  modules/eks-cluster/security-groups.tf
  modules/eks-cluster/variables.tf
  modules/eks-cluster/versions.tf
Labels: :floppy_disk: eks-cluster

feat(eks-cluster): support pod identity associations
  modules/eks-cluster/README.md
  modules/eks-cluster/outputs.tf
  modules/eks-cluster/pod-identity-associations.tf
  modules/eks-cluster/variables.tf
Labels: :floppy_disk: eks-cluster

feat(eks-official-image): support aws v6
  modules/eks-official-image/README.md
  modules/eks-official-image/main.tf
  modules/eks-official-image/outputs.tf
  modules/eks-official-image/variables.tf
  modules/eks-official-image/versions.tf
Labels: :floppy_disk: eks-official-image

chore: bump to v0.27.0
  VERSION
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#66)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: ecr-registry":
- changed-files:
  - any-glob-to-any-file:
    - modules/ecr-registry/**/*

":floppy_disk: ecr-repository":
- changed-files:
  - any-glob-to-any-file:
    - modules/ecr-repository/**/*

":floppy_disk: eks-access-entry":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-access-entry/**/*

":floppy_disk: eks-addon":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-addon/**/*

":floppy_disk: eks-aws-auth":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-aws-auth/**/*

":floppy_disk: eks-cluster":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-cluster/**/*

":floppy_disk: eks-fargate-profile":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-fargate-profile/**/*

":floppy_disk: eks-iam-access":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-iam-access/**/*

":floppy_disk: eks-max-pods":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-max-pods/**/*

":floppy_disk: eks-node-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-node-group/**/*

":floppy_disk: eks-official-image":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-official-image/**/*
