Repository tedilabs/terraform-aws-container, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: ecr-registry, :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-aws-auth, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-max-pods, :floppy_disk: eks-node-group, :floppy_disk: eks-official-image

.github/labeler.yaml:

# Modules
":floppy_disk: ecr-registry":
- changed-files:
  - any-glob-to-any-file:
    - modules/ecr-registry/**/*

":floppy_disk: ecr-repository":
- changed-files:
  - any-glob-to-any-file:
    - modules/ecr-repository/**/*

":floppy_disk: eks-access-entry":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-access-entry/**/*

":floppy_disk: eks-addon":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-addon/**/*

":floppy_disk: eks-aws-auth":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-aws-auth/**/*

":floppy_disk: eks-cluster":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-cluster/**/*

":floppy_disk: eks-fargate-profile":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-fargate-profile/**/*

":floppy_disk: eks-iam-access":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-iam-access/**/*

":floppy_disk: eks-max-pods":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-max-pods/**/*

":floppy_disk: eks-node-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-node-group/**/*

":floppy_disk: eks-official-image":
- changed-files:
  - any-glob-to-any-file:
    - modules/eks-official-image/**/*

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/ecr-registry/README.md
  modules/ecr-repository/README.md
  modules/eks-access-entry/README.md
  modules/eks-addon/README.md
  modules/eks-aws-auth/README.md
  modules/eks-cluster/README.md
  modules/eks-fargate-profile/README.md
  modules/eks-iam-access/README.md
  modules/eks-node-group/README.md
  modules/eks-official-image/README.md
Labels: :floppy_disk: ecr-registry, :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-aws-auth, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-node-group, :floppy_disk: eks-official-image

docs: regenerate terraform-docs with shared config (#85)
  modules/ecr-registry/README.md
  modules/ecr-repository/README.md
  modules/eks-access-entry/README.md
  modules/eks-addon/README.md
  modules/eks-aws-auth/README.md
  modules/eks-cluster/README.md
  modules/eks-fargate-profile/README.md
  modules/eks-iam-access/README.md
  modules/eks-node-group/README.md
  modules/eks-official-image/README.md
Labels: :floppy_disk: ecr-registry, :floppy_disk: ecr-repository, :floppy_disk: eks-access-entry, :floppy_disk: eks-addon, :floppy_disk: eks-aws-auth, :floppy_disk: eks-cluster, :floppy_disk: eks-fargate-profile, :floppy_disk: eks-iam-access, :floppy_disk: eks-node-group, :floppy_disk: eks-official-image

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

refactor(eks-aws-auth): add metadata local
  modules/eks-aws-auth/main.tf
Labels: :floppy_disk: eks-aws-auth

refactor(eks-max-pods): add metadata local
  modules/eks-max-pods/main.tf
Labels: :floppy_disk: eks-max-pods

refactor(eks-aws-auth): add metadata local (#86)
  modules/eks-aws-auth/main.tf
Labels: :floppy_disk: eks-aws-auth

fix(eks-fargate-profile): scope metadata name by cluster
  modules/eks-fargate-profile/main.tf
Labels: :floppy_disk: eks-fargate-profile

fix(eks-node-group): scope metadata name by cluster
  modules/eks-node-group/main.tf
  modules/eks-node-group/security-group.tf
Labels: :floppy_disk: eks-node-group

fix(eks-fargate-profile): scope metadata name by cluster (#88)
  modules/eks-fargate-profile/main.tf
Labels: :floppy_disk: eks-fargate-profile
